body {
    background: #1E1E1E;
    color: #E2E2E2;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

.grid-container {
    display: flow-root;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.grid-item {
    display: block;
    float: left;
    margin-right: 2.23%;
    width: 31%;
}

.block {
    border-color: #D2D5D9;
    display: block;
    margin-bottom: 2.8%;
}

.cta-button {
    padding: 20px;
}